﻿
@{
    ViewBag.Title = "Projet";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>


    <div class="col-md-8">
        <div>
            <form style="display: inline;margin-right:10%;">
                <input type="text" id="inputProjectSearch" class="form-control" placeholder="Nom du Projet" required autofocus>
                
                <button type="submit" class="btn btn-primary">Rechercher</button>


            </form>

            <!--
                <form style="display: inline;margin-right:10%;">
                    <input class="form-control" />
                    <button type="submit" class="btn">Rechercher</button>
                </form>
                -->
            <select class="form-select" style="display: inline;margin-right:10%;">
                <option>Choisir un Répertoire</option>
                <option>Répertoire 1</option>
                <option>Répertoire 2</option>
                <option>Répertoire 3</option>
            </select>
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>
            <button class="btn btn-primary"style="display: inline;" onclick="$('#content').load('@Url.Content("/CreateProject/")');">Nouveau Projet</button>

        </div>
        <div class="commits-listing commits-listing-padded">
            <ol class="commit-group table-list table-list-bordered">
                <!--@foreach (ws_web_app.Models.Project Project in ViewData["Projects"] as List<ws_web_app.Models.Project>)
                {
                    <li class="commit commits-list-item table-list-item navigation-focus">

                        <div class="table-list-cell">
                            <p class="commit-title ">@Project.name</p>
                            <p>@Project.description</p>
                            <div class="commit-meta commit-author-section">Crée par @Project.user le @Project.date</div>
                        </div>
                    </li>
                }-->
                <li class="commit commits-list-item table-list-item navigation-focus">

                    <div class="table-list-cell">
                        <p class="commit-title "><a href="#" onclick="$('#content').load('@Url.Content("/Overview/")');">Visual project</a></p>
                        <p>Projet permettant d'avoir un certain visuel</p>
                        <div class="commit-meta commit-author-section">Crée par Marvin le 30/11/2016</div>
                    </div>
                </li>
            </ol>
        </div>
    </div>
</div>