﻿
@{
    ViewBag.Title = "Administrator - Tickets";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Windows Studio</title>
    <link href="~/Content/primer.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/github-1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/progressbar.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/progressbar.js"></script>

    <!-- Gérer les icônes du site -->
    <script src="https://use.fontawesome.com/a9cd973448.js"></script> 

    <!-- Bootstrap core CSS -->
    <link href="~/Content/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Content/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/navbar-fixed-top.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="~/Content/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <center><h3 style="color:red;">Connecté en tant qu'administrateur</h3></center>

    <div class="container-lg clearfix px-3 mt-4">
        <br />
        <div class="repository-meta">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a>Administrateur</a></li>
                <li class="breadcrumb-item selected">Tickets</li>
            </ol>
        </div>
        <br />

        <div class="raw">
            <div class="col-lg-4">
                <nav class="menu">
                    <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Administrator/")');"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Accueil</a></span>
                    <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/AdministratorUsers/")');"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; Utilisateurs</a></span>
                    <span><a class="menu-item selected" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/AdministratorTickets/")');"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp; Tickets</a></span>
                    <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/AdministratorProjects/")');"><i class="fa fa-bars fa-fw" aria-hidden="true"></i>&nbsp; Projets</a></span>
                    <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/AdministratorLogEntry/")');"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>&nbsp; Logs Entry</a></span>
                </nav>
            </div>
            <div class="col-md-8">
                <!--Start Tickets Projets Tableau-->
                <div class="boxed-group flush">
                    <h3>Tickets Projets</h3>
                    <div class="boxed-group-inner">
                        <div class="clearfix">
                            <ul class="summary-stats" style="padding-top: 2%; padding-bottom: 2%">
                                <li>
                                    <form>
                                        <ul class="summary-stats">
                                            <li style="width: 60px;">
                                                <i style="color:black;" class="fa fa-search fa-3x" aria-hidden="true"></i>
                                            </li>
                                            <li style="text-align: left; vertical-align: middle">
                                                <p class="commit-title " style="padding-left: 5%;">
                                                    <input class="form-control" placeholder="Numéro du Ticket, Titre" style="width: 90%" />
                                                </p>
                                            </li>
                                            <li style="vertical-align middle">
                                                <button type="button" class="btn btn-primary" style="display: inline;">Rechercher</button>
                                            </li>
                                        </ul>
                                    </form>
                                </li>
                            </ul>

                            <!--Début ballisage Tickets Projets -->
                            <ul class="summary-stats" style="float:left;">
                                <li>
                                    <a href="#">
                                        <!-- Faire un lien ouvrable dans une nouvelle fenetre afin d'avoir toutes les informations du tcket -->
                                        <span class="num">
                                            <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="120" height="16"></svg>
                                            <img src="~/Content/user-alt-128.png" width="40" height="40" />
                                            # NdT - Titre du Ticket
                                        </span>
                                        Aperçu du ticket ...
                                    </a>
                                </li>
                            </ul>
                            <!--Fin ballisage Tickets Projets -->

                        </div>
                    </div>
                </div>
                <!-- End Tickets Projets Tableau-->

                <!-- Start Tickets Généraux Tableau -->
                <div class="boxed-group flush">
                    <h3>Tickets Généraux</h3>
                    <div class="boxed-group-inner">
                        <div class="clearfix">
                            <ul class="summary-stats" style="padding-top: 2%; padding-bottom: 2%">
                                <li>
                                    <form>
                                        <ul class="summary-stats">
                                            <li style="width: 60px;">
                                                <i style="color:black;" class="fa fa-search fa-3x" aria-hidden="true"></i>
                                            </li>
                                            <li style="text-align: left; vertical-align: middle">
                                                <p class="commit-title " style="padding-left: 5%;">
                                                    <input class="form-control" placeholder="Numéro du Ticket, Titre" style="width: 90%" />
                                                </p>
                                            </li>
                                            <li style="vertical-align middle">
                                                <button type="button" class="btn btn-primary" style="display: inline;">Rechercher</button>
                                            </li>
                                        </ul>
                                    </form>
                                </li>
                            </ul>

                            <!--Début ballisage Tickets Projets -->
                            <ul class="summary-stats" style="float:left;">
                                <li>
                                    <a href="#">
                                        <!-- Faire un lien ouvrable dans une nouvelle fenetre afin d'avoir toutes les informations du tcket -->
                                        <span class="num">
                                            <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="120" height="16"></svg>
                                            <img src="~/Content/user-alt-128.png" width="40" height="40" />
                                            # NdT - Titre du Ticket
                                        </span>
                                        Aperçu du ticket ...
                                    </a>
                                </li>
                            </ul>
                            <!--Fin ballisage Tickets Projets -->

                        </div>
                    </div>
                </div>
                <!-- End Tickets Projets Tableau-->

            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/Content/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>