﻿@model ws_web_app.Models.ReviewModel

@{
    ViewBag.Title = "Review";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!--<h2>Review</h2>-->

<div class="container new-discussion-timeline experiment-repo-nav">
    <!--<div class="repository-content">-->

    @using (Html.BeginForm())
    {
        @Html.LabelFor(m => m.Username, new { @class = "form-control" })
        @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
        @Html.LabelFor(m => m.Message, new { @class = "form-control" })
        @Html.TextBoxFor(m => m.Message, new { @class = "form-control" })
        <input type="submit" class="btn btn-primary" value="Envoyé" />
            @Html.ValidationSummary()
    }
    <div class="commits-listing commits-listing-padded">
        <ol class="commit-group table-list table-list-bordered">
            @foreach (ws_web_app.Models.Review Review in ViewData["Reviews"] as List<ws_web_app.Models.Review>)
            {
                <li class="commit commits-list-item table-list-item navigation-focus">
<!--<p>@Review.<!--<p>@Review.username @Review.date : @Review.message</p>-->

                    <div class="table-list-cell">
                        <p class="commit-title ">@Review.message</p>
                        <div class="commit-meta commit-author-section">par @Review.username le @Review.date</div>
                    </div>
                </li>
            }
        </ol>
    </div>
    <!--</div>-->
</div>

