﻿@{
    ViewBag.Title = "Overview";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}


<div class="container-lg clearfix px-3 mt-4">
    <br />
    <div class="repository-meta">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Project</a></li>
            <li class="breadcrumb-item"><a href="#">Visual Project</a></li>
            <li class="breadcrumb-item active">Overview</li>
        </ol>
    </div>
    <br />

    <div class="raw">
        <div class="col-lg-4">
            <nav class="menu">
                <span><a class="menu-item selected" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Overview/")');"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp; Overview</a></span>
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/WorkAndProgress/")');">Work & Progress</a></span>
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Prototype/")');">Prototype</a></span>
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Permissions/")');">Permissions</a></span>
            </nav>
        </div>

        <!-- Start LightBox-->
        <div id="shadowing"></div>
        <div id="givelead-box" class="box">
            <div id="boxheader">
                <span id="boxclose" onclick="document.getElementById('givelead-box').style.display='none'; document.getElementById('shadowing').style.display='none'"></span>
            </div>
            <div id="boxcontent">
                <div class="boxed-group flush">
                    <h3>Créateur du Projet</h3>
                    <div class="boxed-group-inner">
                        <div class="clearfix">
                            <ul class="summary-stats" style="float:left;">
                                <li>
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="10" height="16"></svg>
                                        <img src="~/Content/user-alt-128.png" width="40" height="40" />
                                        James BOND
                                    </span>
                                    Projet créé en 00/00/0000
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="boxed-group flush">
                    <h3>Changer de Chef de Projet</h3>
                    <div class="boxed-group-inner">
                        <div class="clearfix">
                            <ul class="summary-stats" style="float:left;">
                                <li>
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="10" height="16"></svg>
                                        <select class="form-control">
                                            <option>Jean BON</option>
                                            <option>James BOND</option>
                                            <option>Pierre ADE</option>
                                            <option>Sue SHI</option>
                                            <option>Clam SAY</option>
                                        </select>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6"><button type="button" class="btn btn-primary btn-lg btn-block" onclick="document.getElementById('givelead-box').style.display='none';document.getElementById('shadowing').style.display='none'">Valider</button></div>
                    <div class="col-md-6"><button type="button" class="btn btn-default btn-lg btn-block" onclick="document.getElementById('givelead-box').style.display='none';document.getElementById('shadowing').style.display='none'">Annuler</button></div>
                </div>
            </div>
        </div>
        <!-- End LightBox -->
        <!-- Start LightBox History -->
        <div id="shadowing"></div>
        <div id="history-box" class="box">
            <div id="boxheader">
                <span id="boxclose" onclick="document.getElementById('history-box').style.display='none'; document.getElementById('shadowing').style.display='none'"></span>
            </div>
            <div id="boxcontent">
                <div class="boxed-group flush">
                    <h3>History - 07/12/2016</h3>
                    <div class="boxed-group-inner">
                        <div class="clearfix">
                            <dl>
                                <dt>Titre 1</dt>
                                <dd>Description du Titre 1</dd>

                                <dt>Titre 2</dt>
                                <dd>Description du Titre 2</dd>

                                <dt>Titre 3</dt>
                                <dd>Description du Titre 3</dd>

                                <dt>Titre 4</dt>
                                <dd>Description du Titre 4</dd>

                                <dt>Titre 5</dt>
                                <dd>Description du Titre 5</dd>
                            </dl>
                           
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4"><button type="button" class="btn btn-default btn-lg btn-block" onclick="document.getElementById('history-box').style.display='none';document.getElementById('shadowing').style.display='none'">Fermer</button></div>
                    <div class="col-md-4"></div>
                </div>
            </div>
        </div>
        <!-- End LightBox History -->

        <div class="col-md-8">
            <div class="boxed-group flush">
                <h3>
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    Overview
                </h3>
                <div class="boxed-group-inner">
                    <div class="clearfix">
                        <ul class="summary-stats">
                            <li>
                                <a href="#Application">
                                    <i style="color:black;" class="fa fa-share-alt fa-5x"></i>
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="120" height="16"></svg>
                                        version 0.1
                                    </span>
                                    Application
                                </a>
                            </li>
                            <li>
                                <a href="#Give Lead" onclick="document.getElementById('shadowing').style.display = 'block'; document.getElementById('givelead-box').style.display='block';">
                                    <i style="color:black;" class="fa fa-users fa-5x"></i>
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="120" height="16"></svg>
                                    </span>
                                    Donner les droits
                                </a>
                            </li>
                            <li>
                                <a href="#Delete">
                                    <i style="color:black;" class="fa fa-trash fa-5x"></i>
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="120" height="40"></svg>
                                    </span>
                                    Supprimer
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="boxed-group flush">
                <h3>
                    <i class="fa fa-history" aria-hidden="true"></i>
                    History
                </h3>
                <div class="boxed-group-inner">
                    <div class="clearfix">
                        <ul class="summary-stats" style="float:left;">
                            <li>
                                <a href="#History1" onclick="document.getElementById('shadowing').style.display = 'block'; document.getElementById('history-box').style.display='block';">
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="120" height="16"></svg>
                                        --- 07/12/2016 ---
                                    </span>
                                    Release et adding du features de template
                                </a>
                            </li>
                        </ul>
                        <ul class="summary-stats" style="float:left;">
                            <li>
                                <a href="#History2">
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="120" height="16"></svg>
                                        #4
                                        <img src="~/Content/user-alt-128.png" width="40" height="40" />
                                        Add de la partie features
                                    </span>
                                    Remove features cancer, c'est pas moi qui le dit
                                </a>
                            </li>
                        </ul>
                        <ul class="summary-stats" style="float:left;">
                            <li>
                                <a href="#History3">
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="10" height="16"></svg>
                                        #3
                                        <img src="~/Content/user-alt-128.png" width="40" height="40" />
                                        Remove useless features
                                    </span>
                                    Je ne sais pas quoi dire
                                </a>
                            </li>
                        </ul>
                        <ul class="summary-stats" style="float:left;">
                            <li>
                                <span class="num">
                                    <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="120" height="16"></svg>
                                    --- 07/12/2016 ---
                                </span>
                            </li>
                        </ul>
                        <ul class="summary-stats" style="float:left;">
                            <li>
                                <a href="#History3">
                                    <span class="num">
                                        <svg class="octicon octicon-git-pull-request" aria-hidden="true" viewBox="0 0 12 16" width="10" height="16"></svg>
                                        #0
                                        <img src="~/Content/user-alt-128.png" width="40" height="40" />
                                        Amen (moi ton assiette)
                                    </span>
                                    Et Dieu créa la Terre
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>