﻿
@{
    ViewBag.Title = "ProLab";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="container new-discussion-timeline experiment-repo-nav">
    <h2>En maintenance</h2>
</div>

