﻿
@{
    ViewBag.Title = "Permissions";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<body>
    <div class="container-lg clearfix px-3 mt-4">
        <br />
        <div class="repository-meta">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Project</a></li>
                <li class="breadcrumb-item"><a href="#">Visual Project</a></li>
                <li class="breadcrumb-item active">Permissions</li>
            </ol>
        </div>
        <div class="raw">
            <div class="col-lg-4">
                <nav class="menu">
                    <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Overview/")');">Overview</a></span>
                    <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/WorkAndProgress/")');">Work & Progress</a></span>
                    <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Prototype/")');">Prototype</a></span>
                    <span><a class="menu-item selected" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Permissions/")');"><i class="fa fa-eye fa-fw" aria-hidden="true"></i>&nbsp; Permissions</a></span>
                </nav>
            </div>
            <div class="col-md-8">
                <div class="boxed-group flush">
                    <h3>
                        <i class="fa fa-eye-slash" aria-hidden="true"></i>
                        Visibility
                    </h3>
                    <div class="boxed-group-inner">
                        <div class="clearfix">
                            <ul class="summary-stats">
                                <li>
                                    <div class="form-checkbox">
                                        <label>
                                            <input type="checkbox" checked="checked">
                                            <em class="highlight">Public</em>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-checkbox">
                                        <label>
                                            <input type="checkbox" checked="checked">
                                            <em class="highlight">Restreint</em>
                                        </label>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-checkbox">
                                        <label>
                                            <input type="checkbox" value="" disabled>
                                            <!--Changer le disabled ou non en fonction du paiement qui a été effectué par l'utilisateur ou non -->
                                            <em class="highlight">Privée</em>
                                        </label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="boxed-group flush">
                    <h3>
                        <i class="fa fa-user-plus" aria-hidden="true"></i>
                        Contributeur
                    </h3>
                    <div class="boxed-group-inner">
                        <div class="clearfix">
                            <!-- Start Champs de Texte Recherche et Ajout -->
                            <ul class="summary-stats" style="padding-top: 2%; padding-bottom: 2%">
                                <li>
                                    <form>
                                        <ul class="summary-stats">
                                            <li style="width: 60px;">
                                                <img border="0" src="~/Content/ajouter_contact.png" width="50" height="50">
                                            </li>
                                            <li style="text-align: left; vertical-align: middle">
                                                <p class="commit-title " style="padding-left: 5%;">
                                                    <input class="form-control" placeholder="Nom d'utilisateur" style="width: 90%" />
                                                </p>
                                            </li>
                                            <li style=" vertical-align middle">
                                                <!--<button class="btn" style="display: inline;">Ajouter au Projet</button>-->
                                                <button type="button" class="btn btn-primary" style="display: inline; width:106px;">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    Ajouter
                                                </button>
                                            </li>
                                        </ul>
                                    </form>
                                </li>
                            </ul>
                            <!-- End Champs de Texte Recherche et Ajout -->

                            <!-- Start Infos Utilisateurs -->
                            <ul class="summary-stats" style="padding-top: 2%; padding-bottom: 2%">
                                <li>
                                    <ul class="summary-stats">
                                        <li style="width: 60px;">
                                            <img border="0" src="~/Content/user-alt-128.png" width="50" height="50">
                                        </li>
                                        <li style="text-align: left; vertical-align: middle">
                                            <p class="commit-title " style="padding-left: 5%;">Char AZNABLE</p>
                                        </li>
                                        <li style=" vertical-align middle">
                                            <button type="button" class="btn btn-primary" style="display: inline; width:106px;">
                                                <i class="fa fa-trash-o" style="color:white;" aria-hidden="true"></i>
                                                Supprimer
                                            </button>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- End Infos Utilisateurs -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

