﻿
@{
    ViewBag.Title = "SignUp";
    Layout = null;
}

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Windows Studio : Enregistrez-vous</title>

    <link href="~/Content/primer.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/github-1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/progressbar.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/progressbar.js"></script>

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap core CSS -->
    <link href="~/Content/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Content/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="~/Content/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="boxed-group flush">
            <h3>Enregistrez-vous</h3>
            <div class="boxed-group-inner">
                <div class="clearfix">
                        <form class="form-signin">
                            <label for="InputFamilyName">Nom</label>
                            <input type="text" class="form-control" id="InputfamilyName" placeholder="Nom">

                            <label for="InputFirstName">Prénom</label>
                            <input type="text" class="form-control" id="InputFirstName" placeholder="Prénom">

                            <label for="InputEmail">Adresse Email</label>
                            <input type="email" class="form-control" id="InputEmail" placeholder="Email">

                            <label for="InputPassword">Mot de Passe</label>
                            <input type="password" class="form-control" id="InputPassword" placeholder="Mot de Passe">

                            <label for="ConfirmationInputPassword">Confirmation de Mot de Passe</label>
                            <input type="password" class="form-control" id="ConfirmationInputPassword" placeholder="Confirmation de Mot de Passe">

                            <button class="btn btn-lg btn-primary btn-block" type="submit">S'enregistrer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

                    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug-->
                    <script src="~/Content/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>

