﻿
@{
    ViewBag.Title = "Telecharger";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<!--
<div class="container">
    <div class="boxed-group flush">
        <h3>
            <i class="fa fa-download"></i>
            Télécharger
        </h3>
        <div class="boxed-group-inner">
            <ul class="summary-stats">
                <li>
                    <ul class="summary-stats">
                        <li>
                            <div class="row">
                                <div class="col-md-6 commit">
                                    <div class="table-list-cell " style="text-align: left;">
                                        <p class="commit-title">
                                            <img src="~/Content/windowsstudio.png" width="50" height="50" />
                                            <b>Windows Studio</b>
                                        </p>
                                        <div class="commit-meta commit-author-section">Windows Studio est un projet EIP, ce dernier a pour but de permettre la réalisation d'une application sans ligne de code</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <center>
                                        <img src="~/Content/trello_bis.png" width="200" height="95" />
                                    </center>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="row">
                <div class="col-md-6">
                    <div class="commit table-list-cell " style="text-align: left; margin-bottom:20px; padding-top:20px;">
                        <p class="commit-title">
                            <h3 style="margin:0;padding:0">
                                <i class="fa fa-info-circle"></i>
                                Aide
                            </h3>
                        </p>
                            
                        <br>
                        <div class="commit-meta commit-author-section">
                            Pour télécharger le contenu vous devez installer un logiciel de "Torrents" : <a href="#" target="_blank">Vuze</a> , <a href="#" target="_blank">Utorrent</a> ou encore <a href="#" target="_blank">qBittorrent</a>.<br><br>
                            Cliquer ensuite sur «&nbsp;Telecharger le Torrent&nbsp;» ci-contre et le téléchargement débutera !
                        </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                        <center>
                            <button type="button" class="btn btn-primary btn-lg" href="#" style="padding-bottom:10px;">
                                <i class="fa fa-download"></i>
                                Télécharger le Torrent
                            </button>
                            <br />
                            <br />
                            <button type="button" class="btn btn-primary btn-lg" href="#">
                                <i class="fa fa-download"></i>
                                Téléchargement Direct
                            </button>

                        </center>
                    </div>
                </div>
            </div>
            </div>
  
</div>
-->

<div class="container-lg clearfix px-3 mt-4">
    <br />
    <div class="repository-meta">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">Télécharger</li>
        </ol>
    </div>

    <div class="raw">
            <div class="boxed-group flush">
                <h3>
                    <i class="fa fa-download" aria-hidden="true"></i>
                    Télécharger
                </h3>
                <div class="boxed-group-inner">
                    <div class="clearfix">
                        <ul class="summary-stats">
                            <li>
                                <ul class="summary-stats">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 commit">
                                                <div class="table-list-cell " style="text-align: left;">
                                                    <p class="commit-title">
                                                        <img src="~/Content/windowsstudio.png" width="50" height="50" />
                                                        <b>Windows Studio</b>
                                                    </p>
                                                    <div class="commit-meta commit-author-section">
                                                        Windows Studio vous permet de créer votre propre application sans ligne de code. 
                                                        Il se veut utiliser une interface simple et fluide afin de vous permettre de faire vos applications le plus rapidement possible.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <br />
                                                <center>
                                                    <img src="~/Content/trello_bis.png" width="200" height="95" />
                                                </center>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>

                        <ul class="summary-stats">
                            <li>
                                <ul class="summary-stats">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 commit">
                                                <div class="table-list-cell " style="text-align: left;">
                                                    <p class="commit-title">
                                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                                        <b>Aide</b>
                                                    </p>
                                                    <div class="commit-meta commit-author-section">
                                                        Pour télécharger le contenu vous devez installer un logiciel de "Torrents". <br/>
                                                        Cliquer ensuite sur «&nbsp;Telecharger le Torrent&nbsp;» ci-contre et le téléchargement débutera !
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <br />
                                                <center>
                                                    <button type="button" class="btn btn-primary btn-lg" href="#" style="padding-bottom:10px;">
                                                        <i class="fa fa-download"></i>
                                                        Télécharger le Torrent
                                                    </button>
                                                    <br />
                                                    <br />
                                                    <button type="button" class="btn btn-primary btn-lg" href="~/Executable/setup.exe" download="~/Executable/setup.exe">
                                                        <i class="fa fa-download"></i>
                                                        Téléchargement Direct
                                                    </button>
                                                </center>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>