﻿@{
    ViewBag.Title = "Profile";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<body>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Nom</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Nom actuel à remplacer">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Prénom</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Prénom actuel à remplacer">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email actuelle à remplacer">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Valider toutes les nouvelles informations
                            </label>
                        </div>
                    </div>
                </div>
                <div class="avatar-upload">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <center>
                <dl class="form-group edit-profile-avatar mr-4 float-right">
                    <dd class="avatar-upload-container clearfix">
                        <img class="avatar rounded-2" height="200" width="200" src="~/Content/user-alt-128.png" />
                        <div class="avatar-upload">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Changer photo de profil</button>
                            </div>
                        </div>
                    </dd>
                </dl>
            </center>
        </div>
    </div>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

