﻿
@{
    ViewBag.Title = "WorkAndProgress";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="container-lg clearfix px-3 mt-4">
    <br />
    <div class="repository-meta">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Project</a></li>
            <li class="breadcrumb-item"><a href="#">Visual Project</a></li>
            <li class="breadcrumb-item active">Work & Progress</li>
        </ol>
    </div>

    <div class="raw">
        <div class="col-lg-4">
            <nav class="menu">
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Overview/")');"><i class="fa fa-tasks fa-fw" aria-hidden="true"></i>&nbsp; Overview</a></span>
                <span><a class="menu-item selected" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/WorkAndProgress/")');"><i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i>&nbsp; Work & Progress</a></span>
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Prototype/")');">Prototype</a></span>
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Permissions/")');">Permissions</a></span>
            </nav>
        </div>
        <div class="col-md-8">
            <div class="boxed-group flush">
                <h3>
                    <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    Work & Progress
                </h3>
                <div class="boxed-group-inner">
                    <div class="clearfix">
                        <ul class="summary-stats">
                            <li>
                                <ul class="summary-stats">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 commit">
                                                <div class="table-list-cell " style="text-align: left;">
                                                    <p class="commit-title">
                                                        <img src="~/Content/trello.jpg" width="50" height="50" />
                                                        <b>Trello</b>
                                                    </p>
                                                    <div class="commit-meta commit-author-section">Cette option vous permet d'avoir accés à un trello customisé pour votre projet.</div>
                                                    <p><input type="checkbox" checked/> Ajouter Trello au projet</p>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <br />
                                                <center>
                                                    <img src="~/Content/trello_bis.png" width="200" height="95" />
                                                </center>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>