﻿@model ws_web_app.Models.ProjectModel

@{
    ViewBag.Title = "CreateProjet";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}
    
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-1"></div>

                <div class="col-md-8">
                    <div class="boxed-group flush">
                        <h3>Création du Projet</h3>
                        <div class="boxed-group-inner">
                            <div class="clearfix">
                                @Html.LabelFor(m => m.Name)<br />
                                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })<br /><br />
                                @Html.LabelFor(m => m.Description)<br />
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", Response = "yes", style = "height: 200px;" })<br /><br />
                                <center><input type="submit" class="btn btn-primary" value="Créer le projet" /></center>
                                @Html.ValidationSummary()
                            </div>
                        </div>
                    </div>
                </div>
        
        </div>
    }

   