﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Windows Studio</title>
    <link href="~/Content/primer.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/github-1.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/progressbar.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/progressbar.js"></script>

    <!-- Gérer les icônes du site -->
    <script src="https://use.fontawesome.com/a9cd973448.js"></script> 

    <!-- Bootstrap core CSS -->
    <link href="~/Content/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Content/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/navbar-fixed-top.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="~/Content/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="~/Content/assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="logged-in  env-production windows vis-public">
    <!--
    <div class="header header-logged-in true">
        <div class="row">
            <div class="col col-md-8">
                <left>
                    <img src="~/Content/windowsstudio.png" alt="" height="84" width="100" />
                </left>
            </div>
            <div class="col-6 col-md-4">
                <right>
                    <img src="~/Content/user-alt-128.png" alt="" height="43" width="43" />
                    <h5>Administrateur WS</h5>
                </right>
            </div>
        </div>
    </div>
        -->

        <div id="js-repo-pjax-container">    
                <!--
                <div class="pagehead repohead instapaper_ignore readability-menu experiment-repo-nav">
                <nav class="reponav">
                    <span><a class="selected reponav-item" href="#" onclick="$('#content').load('@Url.Content("/Prolab/")');">ProLab</a></span>
                    <span><a class="selected reponav-item" href="#" onclick="$('#content').load('@Url.Content("/Projet/")');">Projets</a></span>
                    <span><a class="selected reponav-item" href="#" onclick="$('#content').load('@Url.Content("/Telecharger/")');">Télécharger</a></span>
                </nav>
                -->

                <nav class="navbar navbar-default navbar-fixed-top">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" style="float:left; margin-left: 15px; margin-right: 0px;" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="~/Content/windowsstudio.png" alt="" height="32" width="40" />
                        </a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="#" onclick="$('#content').load('@Url.Content("/Prolab/")');">ProLab</a></li>
                            <li><a href="#" onclick="$('#content').load('@Url.Content("/Projet/")');">Projects</a></li>
                            <li><a href="#" onclick="$('#content').load('@Url.Content("/Telecharger/")');">Télécharger</a></li>

                        </ul>
                        <center>
                            <ul class="nav navbar-nav navbar-right header-logged-in true">
                                <li><a></a></li>
                                <li class="active">
                                    <a href="#">
                                        <img src="~/Content/user-alt-128.png" alt="" height="16" width="16" />
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="active">
                                    <a href="#">
                                        Administrateur
                                        <span class="sr-only">
                                            (current)
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </center>
                    </div>
                </nav>
            </div>

    <div id="content" class="content">
        @RenderBody()
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Content/assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="~/Content/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Content/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>