﻿@model ws_web_app.Models.ReviewModel

@{
    ViewBag.Title = "Prototype";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<div class="container-lg clearfix px-3 mt-4">
    <br />

    <div class="repository-meta">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Project</a></li>
            <li class="breadcrumb-item"><a href="#">Visual Project</a></li>
            <li class="breadcrumb-item active">Prototype</li>
        </ol>
    </div>

    <!-- Start LightBox Review -->
    <div id="shadowing"></div>
    <div id="review-box" class="box">
        <div id="boxheader">
            <span id="boxclose" onclick="document.getElementById('review-box').style.display='none'; document.getElementById('shadowing').style.display='none'"></span>
        </div>
        <div id="boxcontent">
            <div class="boxed-group flush">
                <h3>Review</h3>
                <div class="boxed-group-inner">
                    <div class="clearfix">
                        <div class="commits-listing commits-listing-padded">
                            <ol class="commit-group table-list table-list-bordered">
                                @foreach (ws_web_app.Models.Review Review in ViewData["Reviews"] as List<ws_web_app.Models.Review>)
                                {
                                    <li class="commit commits-list-item table-list-item navigation-focus">
                                        <!--<p>@Review.<!--<p>@Review.username @Review.date : @Review.message</p>-->
                                        <!--<div class="table-list-cell">-->
                                        <p style="clear:both;">
                                            <div class="bulle-grise" style="display:inline-block">
                                                @Review.message
                                                par @Review.username le @Review.date
                                            </div>
                                        </p>

                                        <p style="clear:both;">
                                            <div class="bulle-bleu" style="display:inline-block">
                                                Message du compte
                                                par le-Compte-Connecté le Jamais
                                            </div>
                                        </p>
                                    </li>
                                }
                            </ol>
                            @using (Html.BeginForm())
                            {
                                <div style="margin:5%">
                                    @Html.TextAreaFor(m => m.Username, new { type = "test", id = "inputMessage", placeholder = "Message ...", @class = "form-control", @rows = "3" })
                                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Envoyer" />
                                    @Html.ValidationSummary()
                                </div>
                            }
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4"><button type="button" class="btn btn-default btn-lg btn-block" onclick="document.getElementById('review-box').style.display='none';document.getElementById('shadowing').style.display='none'">Fermer</button></div>
                        <div class="col-md-4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End LightBox Review -->

    <br />
    <div class="raw">
        <div class="col-lg-4">
            <nav class="menu">
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Overview/")');">Overview</a></span>
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/WorkAndProgress/")');">Work & Progress</a></span>
                <span><a class="menu-item selected" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Prototype/")');"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i>&nbsp; Prototype</a></span>
                <span><a class="menu-item" style="width: 100%" href="#" onclick="$('#content').load('@Url.Content("/Permissions/")');">Permissions</a></span>
            </nav>
        </div>
        <div class="col-md-8">
            <div class="boxed-group flush">
                <h3>
                    <i class="fa fa-cogs" aria-hidden="true"></i>
                    Prototype
                </h3>
                <div class="boxed-group-inner">
                    <div class="clearfix">
                        <ul class="summary-stats">
                            <li>
                                <ul class="summary-stats">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-6 commit">
                                                <div class="table-list-cell" style="text-align: left;">
                                                    <p class="commit-title">
                                                        <img src="~/Content/user-alt-128.png" width="40" height="40" />
                                                        <b>Prototype #2</b>
                                                    </p>
                                                    <p>Prototype simple et plus récent pour le site</p>
                                                    <div class="commit-meta commit-author-section">Crée par Marvin le 7/12/2016</div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <ul class="summary-stats">
                                                    <li><a href="#"><h4><i style="color:black;" class="fa fa-retweet"></i></h4></a></li>
                                                    <li><a href="#"><h4><i style="color:black;" class="fa fa-trash"></i></h4></a></li>
                                                    <li><a href="#" onclick="document.getElementById('shadowing').style.display = 'block'; document.getElementById('review-box').style.display='block';"><h4><i style="color:black;" class="fa fa-comments"></i></h4></a></li>
                                                    <li><a href="#"><h4><i style="color:black;" class="fa fa-download"></i></h4></a></li>
                                                    <li><a href="#"><h4><i style="color:black;" class="fa fa-external-link-square"></i></h4></a></li>
                                                </ul>
                                                <div class="table-list-cell" style="text-align: left;">
                                                    <p> + text sur le projet</p>
                                                    <p> - code inutile</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


