﻿.bulle-bleu {
    position: relative;
    float: right;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 7px 0 7px;
    margin-right: 3px;
    margin-left: 28px;
    color: white;
    background: #4080FF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.bulle-grise {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin: 7px 0 7px;
    margin-left: 3px;
    margin-right: 28px;
    color: #000;
    background: #F1F0F0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#shadowing {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    z-index: 10;
    opacity: 0.5;
    filter: alpha(opacity=50);
}



.box {
    display: none;
    position: fixed;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
    padding: 0;
    margin: 0;
    max-height: 400px;
    border: 1px solid black;
    background-color: white;
    z-index: 11;
    overflow-y: hidden;
    overflow-x: auto;
    border: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

#boxheader {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 20px;
    padding: 0;
    padding-top: 2px;
    padding-left: 8px;
    margin: 0;
    margin-right: 20px;
    border-bottom: 1px solid black;
    background-color: white;
    color: black;
    text-align: center;
    border: none;
}

#boxclose {
    float: right;
    position: absolute;
    top: 10px;
    right: 5px;
    background-image: url(./croix.gif);
    background-repeat: no-repeat;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border: none;
    color: black;
}

#boxcontent {
    position: absolute;
    top: 23px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 8px;
    overflow: auto;
    width: 100%;
    height: 100%;
    scrollbar-track-color: none;
}

/**/ .flash-with-icon .container {
    padding-left: 40px;
}
/**/ .table-list {
    display: table;
    width: 100%;
    color: #999;
    table-layout: fixed;
    border-bottom: 1px solid #e5e5e5;
}
    /**/ .table-list ol {
        list-style-type: decimal;
    }
/**/ .table-list-bordered .table-list-cell:first-child {
    border-left: 1px solid #eee;
}
/**/ .table-list-bordered .table-list-cell:last-child {
    border-right: 1px solid #eee;
}
/**/ .table-list-item {
    position: relative;
    display: table-row;
    list-style: none;
}
    /**/ .table-list-item.unread .table-list-cell:first-child {
        box-shadow: 2px 0 0 #4078c0 inset;
    }
/**/ .table-list-cell {
    position: relative;
    display: table-cell;
    padding: 8px 10px;
    font-size: 12px;
    vertical-align: top;
    border-top: 1px solid #eee;
}
    /**/ .table-list-cell.flush-left {
        padding-left: 0;
    }
    /**/ .table-list-cell.flush-right {
        padding-right: 0;
    }
/**/ .table-list-cell-checkbox {
    width: 30px;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}
/**/ .boxed-group {
    position: relative;
    margin-bottom: 30px;
    border-radius: 3px;
}
    /**/ .boxed-group .counter {
        color: #fff;
        background-color: #babec0;
    }
    /**/ .boxed-group.flush .boxed-group-inner {
        padding: 0;
    }
    /**/ .boxed-group.condensed .boxed-group-inner {
        padding: 0;
        font-size: 12px;
    }
    /**/ .boxed-group > h3,
    .boxed-group .heading {
        display: block;
        padding: 9px 10px 10px;
        margin: 0;
        font-size: 14px;
        line-height: 17px;
        background-color: #f5f5f5;
        border: 1px solid #d8d8d8;
        border-bottom: 0;
        border-radius: 3px 3px 0 0;
    }
        /**/ .boxed-group > h3.border-light,
        .boxed-group .heading.border-light {
            border-color: #e5e5e5;
        }
        /**/ .boxed-group > h3 a,
        .boxed-group .heading a {
            color: inherit;
        }
            /**/ .boxed-group > h3 a.boxed-group-breadcrumb,
            .boxed-group .heading a.boxed-group-breadcrumb {
                font-weight: normal;
                color: #666;
                text-decoration: none;
            }
        /**/ .boxed-group > h3 .avatar,
        .boxed-group .heading .avatar {
            margin-top: -4px;
        }
    /**/ .boxed-group .tabnav.heading {
        padding: 0;
    }
        /**/ .boxed-group .tabnav.heading .tabnav-tab.selected {
            border-top: 0;
        }
        /**/ .boxed-group .tabnav.heading li:first-child .selected {
            border-left-color: #fff;
            border-top-left-radius: 3px;
        }
    /**/ .boxed-group .tabnav-tab {
        border-top: 0;
        border-radius: 0;
    }
    /**/ .boxed-group code.heading {
        font-size: 12px;
    }
    /**/ .boxed-group.dangerzone > h3 {
        color: #fff;
        text-shadow: 0 -1px 0 #900;
        background-color: #df3e3e;
        border: 1px solid #a00;
    }
    /**/ .boxed-group.dangerzone .boxed-group-inner {
        border-top: 0;
    }
    /**/ .boxed-group.condensed > h3 {
        padding: 6px 6px 7px;
        font-size: 12px;
    }
        /**/ .boxed-group.condensed > h3 .octicon {
            padding: 0 6px 0 2px;
        }
/**/ .one-half .boxed-group,
.dashboard-sidebar .boxed-group {
    margin-bottom: 20px;
}
/**/ .boxed-group .bleed-flush {
    width: 100%;
    padding: 0 10px;
    margin-left: -10px;
}
/**/ .boxed-group .compact {
    margin-top: 10px;
    margin-bottom: 10px;
}
/**/ .boxed-group-inner {
    padding: 10px;
    color: #666;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
    /**/ .boxed-group-inner .markdown-body {
        padding: 20px 10px 10px;
        font-size: 13px;
    }
    /**/ .boxed-group-inner.markdown-body {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    /**/ .boxed-group-inner.inline-error {
        padding-top: 40px;
        padding-bottom: 40px;
        text-align: center;
    }
    /**/ .boxed-group-inner.seamless {
        padding: 0;
    }
    /**/ .boxed-group-inner .tabnav {
        padding-right: 10px;
        padding-left: 10px;
        margin-right: -10px;
        margin-left: -10px;
    }
    /**/ .boxed-group-inner .tabnav-tab.selected {
        border-top: 1px solid #ddd;
    }
    /**/ .boxed-group-inner .help {
        padding: 1em 10px 1em 35px;
        margin: 1em -10px -10px;
        clear: both;
        color: #767676;
        border-top: 1px solid #ddd;
    }
        /**/ .boxed-group-inner .help .octicon {
            margin-right: 5px;
            margin-left: -25px;
        }
    /**/ .boxed-group-inner .boxed-group-list + .help {
        margin-top: 0;
    }
/**/ .boxed-group-action {
    position: relative;
    z-index: 2;
    float: right;
    margin: 6px 10px 0 0;
}
    /**/ .boxed-group-action.flush {
        margin-top: 0;
        margin-right: 0;
    }
/**/ .boxed-group.flush .boxed-group-list li {
    width: auto;
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
}
/**/ .commit .commit-title,
.commit .commit-title a {
    color: #4e575b;
}
    /**/ .commit .commit-title.blank,
    .commit .commit-title.blank a {
        color: #9cabb1;
    }
    /**/ .commit .commit-title .issue-link {
        font-weight: bold;
        color: #4078c0;
    }
/**/ .commit-author-section {
    color: #333;
}
    /**/ .commit-author-section span.user-mention {
        font-weight: normal;
    }
/**/ .commits-listing {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 15px;
}
    /**/ .commits-listing::before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 14px;
        z-index: -1;
        display: block;
        width: 2px;
        content: "";
        background-color: #f3f3f3;
    }
    /**/ .commits-listing .discussion-item-icon {
        margin-right: 5px;
        margin-left: -1px;
    }
    /**/ .commits-listing .timeline-commits {
        padding-left: 8px;
        margin-bottom: 20px;
    }
        /**/ .commits-listing .timeline-commits:last-child {
            margin-bottom: 0;
        }
/**/ .commits-listing-padded {
    padding-left: 39px;
}
/**/ .commit-group {
    margin-top: 10px;
    list-style-type: none;
}
/**/ .commits-list-item.navigation-focus {
    background: #f7fbfc;
}
/**/ .commits-list-item .commit-title {
    margin: 0;
    font-size: 15px;
    font-weight: bold;
    color: #333;
}
/**/ .commits-list-item .commit-meta {
    margin-top: 1px;
    font-weight: normal;
    color: #767676;
}
/**/ .commits-list-item .status .octicon {
    height: 14px;
    line-height: 14px;
}
/**/ .commits-list-item .commit-author {
    color: #767676;
}
/**/ .commits-list-item .octicon-arrow-right {
    margin: 0 3px;
}
/**/ .commits-list-item .btn-outline {
    margin-top: 2px;
}
/**/ .commits-list-item .commit-desc pre {
    margin-top: 5px;
    margin-bottom: 10px;
    color: #767676;
}
    /**/ .commits-list-item .commit-desc pre a {
        word-break: break-word;
    }
/**/ .commit-avatar-cell.table-list-cell {
    padding-right: 0;
}
/**/ .timeline-commits .commit-meta {
    width: 50px;
    text-align: right;
}
/**/ .full-commit p.commit-title {
    margin: 0 0 8px;
    font-size: 18px;
    font-weight: bold;
    color: #213f4d;
}
/**/ .full-commit .commit-meta {
    padding: 8px;
    margin-right: -8px;
    margin-left: -8px;
    background: #fff;
    border-top: 1px solid #d8e6ec;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}
/**/ .simple-conversation-list > li .num {
    color: #999;
}
/**/ body.split-diff .container,
body.full-width .container {
    width: 100%;
    padding-right: 30px;
    padding-left: 30px;
}
/**/ .new-discussion-timeline .previewable-comment-form .comment-form-head.tabnav {
    padding: 6px 10px 0;
    background: #f7f7f7;
    border-radius: 3px 3px 0 0;
}
/**/ .new-discussion-timeline .previewable-comment-form .draft-indicator {
    position: relative;
    top: -1px;
}
/**/ .new-discussion-timeline .previewable-comment-form .comment {
    border: 0;
}
/**/ .new-discussion-timeline .previewable-comment-form .comment-body {
    padding: 5px 5px 15px;
    background-color: transparent;
    border-bottom: 1px solid #eee;
}
/**/ .new-discussion-timeline .previewable-comment-form .timeline-comment .timeline-comment-actions {
    display: none;
}
/**/ .new-discussion-timeline .closed-banner {
    position: relative;
    height: 19px;
    margin: 15px 0 -15px;
    overflow: visible;
    background: #f3f3f3;
    border-bottom: 15px solid #fff;
    border-radius: 0;
}
/**/ .new-discussion-timeline .composer .timeline-comment {
    margin-bottom: 10px;
}
    /**/ .new-discussion-timeline .composer .timeline-comment::after {
        border-right-color: #fff;
    }
/**/ .new-discussion-timeline .composer .comment-form-head.tabnav {
    padding-top: 0;
    background-color: #fff;
}
/**/ .facebox-staff-search .hfields .form-control {
    width: 340px;
    margin-right: 0;
}
/**/ .gollum-dialog-dialog-body fieldset .form-control {
    display: block;
    width: 100%;
    margin: 3px 0 0;
}
/**/ .input-group .form-control {
    position: relative;
    width: 100%;
}
    /**/ .input-group .form-control:focus {
        z-index: 2;
    }
    /**/ .input-group .form-control + .btn {
        margin-left: 0;
    }
/**/ .input-group .form-control,
.input-group-button {
    display: table-cell;
}
    /**/ .input-group .form-control:first-child,
    .input-group-button:first-child .btn {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    /**/ .input-group .form-control:last-child,
    .input-group-button:last-child .btn {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
/**/ .page-content {
    padding-top: 20px;
}
/**/ .pagehead {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}
    /**/ .pagehead.admin {
        background: url("/images/modules/pagehead/background-yellowhatch-v3.png") 0 0 repeat-x;
    }
    /**/ .pagehead ul.pagehead-actions {
        position: relative;
        z-index: 31;
        float: right;
        margin: 0;
    }
    /**/ .pagehead .path-divider {
        margin: 0 0.25em;
    }
    /**/ .pagehead h1 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 20px;
        font-weight: normal;
        line-height: 28px;
    }
        /**/ .pagehead h1 .avatar {
            margin-top: -2px;
            margin-right: 9px;
            margin-bottom: -2px;
        }
    /**/ .pagehead .account-switcher {
        margin-top: -3px;
        margin-bottom: -3px;
    }
    /**/ .pagehead .underline-nav {
        height: 69px;
        margin-top: -20px;
        margin-bottom: -20px;
    }
/**/ .repohead.experiment-repo-nav {
    padding-bottom: 0;
    background-color: #fafafa;
}
/**/ .repohead .repohead-details-container {
    margin-bottom: 20px;
}
/**/ .repohead.mirror h1,
.repohead.fork h1 {
    height: auto;
    margin-top: -5px;
    margin-bottom: 15px;
}
/**/ .repohead h1 {
    position: relative;
    float: left;
    max-width: 635px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 26px;
    color: #666;
}
    /**/ .repohead h1.private .octicon {
        color: #e9dba5;
    }
    /**/ .repohead h1 .octicon {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 5px;
        color: #bbb;
    }
/**/ .repohead .octicon-mirror {
    left: -3px;
}
/**/ .repohead .octicon-lock {
    top: 10px;
}
/**/ .repohead span.fork-flag,
.repohead span.mirror-flag {
    display: block;
    font-size: 11px;
    line-height: 10px;
    white-space: nowrap;
}
/**/ .reponav {
    position: relative;
    top: 1px;
    margin-top: -5px;
}
    /**/ .reponav::before {
        display: table;
        content: "";
    }
    /**/ .reponav::after {
        display: table;
        clear: both;
        content: "";
    }
/**/ .reponav-item {
    float: left;
    padding: 7px 15px 8px;
    color: #666;
    white-space: nowrap;
    border: solid transparent;
    border-width: 3px 1px 1px;
    border-radius: 3px 3px 0 0;
    width: 33.3%;
    text-align: center;
}
    /**/ .reponav-item .octicon {
        color: #bbb;
    }
    /**/ .reponav-item .counter {
        color: #555;
    }
    /**/ .reponav-item:hover,
    /**/ .reponav-item:focus {
        color: #333;
        text-decoration: none;
    }
    /**/ .reponav-item.selected {
        color: #111;
        background-color: #fff;
        border-color: #0066ff #e5e5e5 transparent;
    }
        /**/ .reponav-item.selected > .octicon {
            color: inherit;
        }
/**/ .marketing .pagehead h1 {
    font-size: 30px;
}
/**/ .marketing .pagehead p {
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 14px;
    color: #767676;
}
/**/ .marketing .pagehead ul.actions {
    margin-top: 10px;
}
/**/ .pagehead + .intgrs-dir-intro {
    margin-top: -20px;
}
/**/ .session-authentication .flash .container {
    width: auto;
}
/**/ .boxed-group .boxed-group-content {
    margin: 10px;
}
/**/ .billing-manager-banner .container {
    position: relative;
}
/**/ .codesearch-head.pagehead h1 {
    float: left;
    width: 250px;
    line-height: 33px;
}
/**/ li.contribution .num {
    color: #767676;
}
/**/ .user-repos .mini-repo-list-item {
    padding-right: 6px;
}
    /**/ .user-repos .mini-repo-list-item .repo-and-owner {
        max-width: 100%;
    }
    /**/ .user-repos .mini-repo-list-item .owner {
        max-width: 145px;
    }
/**/ .dashboards-overview-cards .boxed-group {
    width: 100%;
    margin: 10px 0;
}
    /**/ .dashboards-overview-cards .boxed-group .graph-canvas path {
        stroke: #1db34f;
        stroke-opacity: 0.5;
    }
/**/ .dashboards-overview-cards .summary-stats {
    height: 78px;
}
    /**/ .dashboards-overview-cards .summary-stats .created_at {
        color: #1db34f;
    }
    /**/ .dashboards-overview-cards .summary-stats .closed_at,
    .dashboards-overview-cards .summary-stats .merged_at {
        color: #4078c0;
    }
    /**/ .dashboards-overview-cards .summary-stats .totals-num {
        margin: 0 7px;
    }
    /**/ .dashboards-overview-cards .summary-stats .single {
        width: 100%;
    }
/**/ .pagehead.explore-head {
    background-clip: padding-box;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}
    /**/ .pagehead.explore-head .container {
        position: relative;
    }
/**/ .fakelogin + .header {
    margin-top: 35px;
}
/**/ .getting-started .main-content .container {
    width: 420px;
}
/**/ .header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
}
/**/ .scoped-search .form-control.focus .header-search-scope {
    color: #4078c0;
    background-color: #edf2f9;
    border-color: #c6d7ec;
}
/**/ .header-nav {
    list-style: none;
}
/**/ .header-nav-item {
    float: left;
}
    /**/ .header-nav-item.active .dropdown-menu-content {
        display: block;
    }
    /**/ .header-nav-item.active .tooltipped::before,
    /**/ .header-nav-item.active .tooltipped::after {
        display: none;
    }
    /**/ .header-nav-item .dropdown-menu {
        width: 180px;
        margin-top: 13px;
    }
/**/ .header-nav-link {
    display: block;
    padding: 4px 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    color: #333;
}
    /**/ .header-nav-link:hover,
    /**/ .header-nav-link:focus {
        color: #4078c0;
        text-decoration: none;
    }
        /**/ .header-nav-link:hover .dropdown-caret,
        /**/ .header-nav-link:focus .dropdown-caret {
            border-top-color: #4078c0;
        }
/**/ .user-nav {
    margin-right: -8px;
}
    /**/ .user-nav .header-nav-link {
        height: 28px;
    }
    /**/ .user-nav .octicon {
        width: 16px;
        text-align: center;
    }
    /**/ .user-nav .octicon-plus {
        margin-top: 1px;
        margin-right: 1px;
    }
    /**/ .user-nav .octicon-bell {
        vertical-align: text-bottom;
    }
    /**/ .user-nav .avatar {
        float: left;
        margin-right: 5px;
    }
/**/ .enterprise .header {
    background-color: #2a2c2e;
    border-bottom-color: #121313;
}
/**/ .is-stats .enterprise .header {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.enterprise .header-logo-wordmark,
.enterprise .header-logo-invertocat,
/**/ .enterprise .header-nav-link {
    color: #c8c8ca;
}
    /**/ .enterprise .header-logo-wordmark:hover,
    .enterprise .header-logo-wordmark:focus,
    .enterprise .header-logo-invertocat:hover,
    .enterprise .header-logo-invertocat:focus,
    .enterprise .header-nav-link:hover,
    .enterprise .header-nav-link:focus {
        color: #fafafa;
    }
        /**/ .enterprise .header-nav-link:hover .dropdown-caret,
        .enterprise .header-nav-link:focus .dropdown-caret {
            border-top-color: #fafafa;
        }
/**/ .hosted.logged-in .header-search {
    width: 280px;
}
/**/ .hosted.logged-in .header-search-input {
    width: 180px;
}
/**/ .unsupported-browser .container {
    background: url("/images/icons/ie-notice.png") no-repeat 0 5px;
}
/**/ .org-job-postings-results .pagehead {
    padding-bottom: 0;
}
/**/ .pagehead .job-posting-company-link {
    color: #333;
}
/**/ .hooks-listing .boxed-group-action.select-menu {
    z-index: auto;
}
/**/ .hooks-listing .boxed-group-inner {
    padding: 0 10px;
    margin-bottom: 10px;
}
/**/ .boxed-group span.animated-ellipsis-container,
.boxed-group span.animated-ellipsis {
    padding: 0;
}
/**/ .boxed-group .animated-ellipsis-container {
    line-height: 1.3;
}
/**/ dl.form-group > dd .integrations-repository-picker .form-control {
    margin-right: 0;
}
/**/ .table-list-milestones .table-list-cell {
    padding: 15px 20px;
}
/**/ .issue-title-link:hover .num {
    color: inherit;
}
/**/ .notifications-list .boxed-group .text-green {
    position: absolute;
    right: 3px;
    width: 220px;
    margin-top: 4px;
    font-size: 13px;
    color: #6cc644;
    text-align: right;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.35s ease-in-out, -webkit-transform 0.35s ease-in-out;
    transition: opacity 0.35s ease-in-out, transform 0.35s ease-in-out;
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
}
/**/ .oauth-org-access-details .boxed-group-inner {
    border: 0;
    border-radius: 3px;
}
/**/ .boxed-group-inner .oauth-application-info {
    margin-bottom: 10px;
}
/**/ .form-group .form-control.saml-certificate-field {
    width: 440px;
    height: 150px;
    min-height: 0;
}
/**/ .team-member-list .table-list-cell {
    padding-top: 15px;
    padding-bottom: 15px;
}
/**/ .ldap-memberships-list .table-list-cell {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
    vertical-align: middle;
}
    /**/ .ldap-memberships-list .table-list-cell:last-child {
        width: 92px;
    }
/**/ .theme-picker > .container {
    position: relative;
    overflow: hidden;
    text-align: center;
}
/**/ .project-full-screen .pagehead,
.project-full-screen .header {
    display: none;
}
/**/ .form-group .form-control.user-profile-bio-field {
    width: 440px;
    height: 5.35em;
    min-height: 0;
}
/**/ .full-width .diffbar .container,
.split-diff .diffbar .container {
    padding-right: 0;
    padding-left: 0;
}
/**/ .diffbar .container {
    width: auto;
}
/**/ .summary-stats {
    display: table;
    width: 100%;
    table-layout: fixed;
}
    /**/ .summary-stats li {
        display: table-cell;
        color: #767676;
        text-align: center;
        border-left: 1px solid #eee;
    }
        /**/ .summary-stats li a {
            display: block;
            padding-bottom: 10px;
            color: #767676;
            text-decoration: none;
        }
            /**/ .summary-stats li a:hover {
                background: #fafafa;
            }
        /**/ .summary-stats li .octicon-git-pull-request {
            color: #6e5494;
        }
        /**/ .summary-stats li .octicon-git-branch {
            color: #6cc644;
        }
        /**/ .summary-stats li .octicon-issue-closed {
            color: #bd2c00;
        }
        /**/ .summary-stats li .octicon-issue-opened {
            color: #6cc644;
        }
        /**/ .summary-stats li:first-child {
            border-left: 0;
            border-bottom-left-radius: 3px;
        }
        /**/ .summary-stats li .num {
            display: block;
            padding-top: 10px;
            font-size: 16px;
            font-weight: bold;
            color: #000;
        }
/**/ .uploaded-files .form-control {
    width: 490px;
    padding: 2px 4px;
    margin-right: 6px;
    border-radius: 2px;
}
/**/ .labels-list-item .table-list-cell {
    width: 100%;
}
/**/ .user-repos .filter-bar {
    text-align: center;
}
/**/ .pagehead.repohead .select-menu .select-menu-modal-holder {
    z-index: 25;
}
/**/ .numbers-summary a:hover .num {
    color: inherit;
}
/**/ .repository-meta {
    margin: 0 0 20px;
    clear: both;
    font-size: 16px;
    color: #666;
}
    /**/ .repository-meta::before {
        display: table;
        content: "";
    }
    /**/ .repository-meta::after {
        display: table;
        clear: both;
        content: "";
    }
    /**/ .repository-meta .repo-description-field {
        width: 540px;
    }
    /**/ .repository-meta .repo-website-field {
        width: 300px;
    }
    /**/ .repository-meta .edit-repository-meta {
        display: none;
        margin-bottom: 5px;
        font-size: 13px;
    }
        /**/ .repository-meta .edit-repository-meta .field {
            display: inline-block;
            margin-right: 5px;
        }
        /**/ .repository-meta .edit-repository-meta label {
            display: block;
            margin-bottom: 6px;
            font-weight: bold;
            color: #333;
        }
    /**/ .repository-meta.open .repository-meta-content,
    .repository-meta.open .edit-link {
        display: none;
    }
    /**/ .repository-meta.open .edit-repository-meta {
        display: block;
    }
/**/ .experiment-repo-nav .capped-cards .capped-card {
    width: 480px;
}
/**/ .experiment-repo-nav .new-issue-form {
    padding-top: 0;
    border-top: 0;
}
/**/ .experiment-repo-nav.repohead .repo-mirror {
    padding-left: 20px;
}
/**/ .file-navigation-option .input-group .form-control {
    width: calc(100% + 2px);
    height: 28px;
    min-height: 0;
    margin-right: -1px;
    margin-left: -1px;
    border-radius: 0;
}
/**/ .boxed-group .fork-flag {
    margin-left: 16px;
    font-size: 12px;
    color: #767676;
}
/**/ .callback-urls dl dd .form-control {
    width: 100%;
}
/**/ .boxed-group.application-show-group dl.form-group > dd .form-control.wide {
    width: 460px;
}
/**/ .boxed-group.application-show-group dl.form-group > dd .form-control.short {
    height: 50px;
    min-height: 50px;
}
/**/ .container.two-factor-toggle {
    width: 700px;
}
/**/ .protected-branch-authorized-pushers-table .boxed-group-inner {
    max-height: 350px;
    overflow-y: auto;
}
/**/ .protected-branch-authorized-pushers-table .table-list {
    border-bottom: 0;
}
/**/ .protected-branch-authorized-pushers-table .table-list-cell {
    vertical-align: middle;
}
    /**/ .protected-branch-authorized-pushers-table .table-list-cell:first-child {
        width: 100%;
    }
/**/ .logged-out.signup .header-logged-out .container,
.logged-out.signup .site-footer {
    width: 750px;
}
/**/ .setup-form-container .setup-form-title {
    font-size: 16px;
}
/**/ .org-creation-questions .other-field .form-control,
.user-identification-questions .other-field .form-control {
    margin-top: 10px;
}
/**/ .org-creation-questions .other-field input + .form-control,
.user-identification-questions .other-field input + .form-control {
    display: none;
}
/**/ .org-creation-questions .other-field input:checked + .form-control,
.user-identification-questions .other-field input:checked + .form-control {
    display: block;
}
/**/ .shelf .container {
    position: relative;
}
/**/ .showcase-page-header .container {
    position: relative;
}
/**/ .team-listing .table-list-cell {
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
}
/**/ .traffic-graph-stats .summary-stats {
    width: 100%;
}
    /**/ .traffic-graph-stats .summary-stats::before {
        display: table;
        content: "";
    }
    /**/ .traffic-graph-stats .summary-stats::after {
        display: table;
        clear: both;
        content: "";
    }
    /**/ .traffic-graph-stats .summary-stats li {
        display: block;
        float: left;
        width: 50%;
        padding-bottom: 10px;
    }
/**/ .wiki-rightbar .boxed-group > h3 {
    cursor: pointer;
}
/**/ .wiki-rightbar .boxed-group .caret-collapsed {
    display: none;
}
/**/ .wiki-rightbar .boxed-group.collapsed .caret-expanded {
    display: none;
}
/**/ .wiki-rightbar .boxed-group.collapsed .caret-collapsed {
    display: inline;
}
/**/ .wiki-rightbar .boxed-group.collapsed > h3 {
    border-bottom: 1px solid #d8d8d8;
    border-radius: 3px;
}
/**/ .wiki-rightbar .boxed-group.collapsed .boxed-group-inner {
    display: none;
}
/**/ .wiki-wrapper .wiki-history .commit-meta {
    width: 160px;
    padding-right: 10px;
    text-align: right;
    white-space: nowrap;
}
    /**/ .wiki-wrapper .wiki-history .commit-meta code {
        display: inline-block;
        font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
        line-height: 16px;
        vertical-align: top;
    }

.tabulation {
    margin-left: 5%;
    margin-right: 5%;
}
